.gradle
gradle/wrapper
!**/src/main/**/build/
!**/src/test/**/build/
.notifications/
git rm --cached .notifications/draft.txt
git rm --cached .notifications/config.json
git rm --cached .notifications/allure-notifications-4.3.0.jar

git rm --cached build
settings.gradle
.build



gradlew
gradlew.bat
gradle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store